<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base-layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="base-layout :: header"></div>
CART
<div class="container">
        <table class="table" align="center">
            <thead>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Sum</th>
            <th>Action</th>
            </thead>
            <tbody th:each="cartRow : ${cartRows}">
            <tr >
                <td th:text="${cartRow.product.name}"></td>
                <td th:text="${cartRow.product.price}"></td>
                <td >
                    <div >
                        <form action="/cart/updateCartRaw" th:action="@{/cart/updateCartRaw(id=${cartRow.id})}" th:method="get">
                        <input type="hidden" name="id" th:value="${cartRow.id}">
                        <input type="text" name="qty" id="sst" maxlength="12" th:value="${cartRow.quantity}" title="Quantity:"
                               class="input-text qty">
<!--                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"-->
<!--                                class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>-->
<!--                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value&#45;&#45;;return false;"-->
<!--                                class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>-->
                        <button class="button" type="submit">Set Quantity</button>
                        </form>
                    </div>
                </td>
                <td th:text="${cartRow.product.price*cartRow.quantity}"></td>

                <td><div><a th:href="@{/cart/deleteProductFromCart(id=${cartRow.id})}">Delete</a></div></td>
            </tr>
            </tbody>
            <tr></tr>
            <tr>
                <td></td>
                <td></td>
                <td>Total</td>
                <td th:text="${sumOfCartProducts}"></td>
            </tr>
        </table>
</div>
</div>
</body>
</html>