<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base-layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="base-layout :: header"></div>
CART
<div class="container">
        <table class="table" align="center">
            <thead>
            <th>Photo</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Sum</th>
            <th>Action</th>
            </thead>
            <tbody th:each="cartRow : ${cartRows}">
            <tr >
                <td>
                    <div class="card-img" th:if="*{cartRow.product.photo==null}"><img width="50" src="/resources/images/Product_icon.png" alt="img"></div>
                    <div th:unless="*{cartRow.product.photo==null}"><img width="50" th:src="'/resources/uploads/products/' + *{cartRow.product.photo}"></div>
                </td>
                <td th:text="${cartRow.product.name}"></td>
                <td th:text="${cartRow.product.price}"></td>
                <td >
                    <div >
                        <form action="/cart/updateCartRaw" th:action="@{/cart/updateCartRaw(id=${cartRow.id})}" th:method="get">
                        <input type="hidden" name="id" th:value="${cartRow.id}">
                        <input type="text" name="qty" id="sst" maxlength="12" th:value="${cartRow.quantity}" title="Quantity:"
                               class="input-text qty">
<!--                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"-->
<!--                                class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>-->
<!--                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value&#45;&#45;;return false;"-->
<!--                                class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>-->
                        <button class="button" type="submit">Set Quantity</button>
                        </form>
                    </div>
                </td>
                <td th:text="${cartRow.product.price*cartRow.quantity}"></td>

                <td><div><a th:href="@{/cart/deleteProductFromCart(id=${cartRow.id})}">Delete</a></div></td>
            </tr>
            </tbody>
            <tr></tr>
            <tr>
                <td></td>
                <td></td>
                <td><h3>Total:</h3></td>
                <td ><h3 th:text="${sumOfCartProducts}"></h3></td>
            </tr>
        </table>

</div>
<div class="container">

</div>
<div class="container">
    <div th:if="${cartSize>0}">
        <form action="/order" th:action="@{/order}" th:method="post">
            <div class="form-group">
                <label for="odc">Delivery</label>
                <select id="odc" name="odc"  >
                    <option disabled>Please select...</option>
                    <option th:each="delivCompany : ${delivCompanies}" th:value="${delivCompany.id}"
                            th:text="${delivCompany.companyName}"></option>
                </select>

            </div>
            <div class="form-group">
                <input type="text" name="address" maxlength="1000" th:rows="3">
            </div>
            <div class="form-group">
                <h3>Comment to order</h3>
                <input type="text" name="comment" maxlength="1000" th:rows="3">
            </div>
            <div class="form-group">
                <input type="submit" name="register-submit"
                       id="register-submit"
                       class="form-control btn btn-info"
                       value="Add order">
            </div>
<!--            <button class="button" type="submit">Order</button>-->
        </form>
    </div>
</div>
</body>
</html>