<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head th:replace="base-layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="base-layout :: header"></div>
<div class="container" style="align-content: center">
    <div>
        <a style="font-weight: bolder; font-size: 20px" th:href="@{/product/all}" th:text="#{main-page.all-products}"></a>
    </div>
    <div th:each="category : ${categories}">
        <a style="font-weight: bolder; font-size: 20px" href="products-category.html" th:href="@{/product/categories/{categoryId}(categoryId=${category.id})}"
           th:text="${category.categoryName+': '+category.categoryDescription}" ></a>
    </div>
</div>
</body>
</html>



