<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head th:replace="base-layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="base-layout :: header"></div>
<div sec:authorize="hasAuthority('ADMIN')">
<h3>Add new Category</h3>
<div class="container-fluid">
    <form action="/category/addCategory" th:action="@{/category/addCategory}" th:object="${newCategory}" method="Post">
        <div style="margin-top:10px;color:darkred;" th:text="${category_error}"></div>
        <div class="form-group">
            <label>categoryName</label>:
            <input type="text"
                   id="categoryName"
                   name="categoryName"
                   class="form-control"
                   autofocus="autofocus"
                   placeholder="categoryName">
        </div>
        <div class="form-group">
            <label>categoryDescription</label>:
            <input type="text"
                   id="categoryDescription"
                   name="categoryDescription"
                   class="form-control"
                   placeholder="categoryDescription">
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <input type="submit"
                           name="register-submit"
                           id="register-submit"
                           class="form-control btn btn-info"
                           value="Register new category">
                </div>
            </div>
        </div>
    </form>

</div>

<form th:action="@{/listAdmin}" method="get">
    <div class="container" style="align-content: center">
        <table class="table" align="">
            <thead>
            <th>Name</th>
            <th>Description</th>
            <th>Action</th>
            </thead>
            <tbody>
            <tr th:each="category : ${categories}">
                <td th:text="${category.categoryName}"></td>
                <td th:text="${category.categoryDescription}"></td>

                <td><div><a th:href="@{/category/deleteCategory(id=${category.id})}">Delete</a></div></td>
            </tr>
            </tbody>
        </table>
    </div>
</form>
</div>
</body>
</html>



