<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head th:replace="base-layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="base-layout :: header"></div>
<div sec:authorize="hasAuthority('ADMIN')">
    <form action="/clients-orders" th:action="@{/clients-orders}" th:method="get">
        <div class="form-group">
            <label for="orderStatus" th:text="#{clients-order-table.status}"></label>
            <select id="orderStatus" name="orderStatus"  >
                <option disabled>Please select...</option>
                <option th:each="orderstatus : ${orderStatuses}" th:value="${orderstatus}"
                        th:text="${orderstatus}"></option>
            </select>
        </div>
        <button class="button" type="submit">filter</button>
    </form>
    <table class="table" align="center">
        <thead>
        <th th:text="#{clients-order-table.date}"></th>
        <th th:text="#{clients-order-table.comment}"></th>
        <th th:text="#{clients-order-table.status}"></th>
        <th th:text="#{clients-order-table.email}"></th>
        <th th:text="#{clients-order-table.phone}"></th>
        <th th:text="#{clients-order-table.user-name}"></th>
        <th th:text="#{clients-order-table.address}"></th>
        <th th:text="#{clients-order-table.action}"></th>
        <th th:text="#{clients-order-table.adm-comment}"></th>
        </thead>
        <tbody th:each="allorder : ${allOrders}">
        <tr>

            <td th:text="*{#dates.format(allorder.dateCreation, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${allorder.comment}"></td>
            <td th:text="${allorder.orderStatus}"></td>
            <td th:text="${allorder.user.email}"></td>
            <td th:text="${allorder.user.phoneNumber}"></td>
            <td th:text="${allorder.user.firstName+' '+allorder.user.lastName}"></td>
            <td th:text="${allorder.orderDeliveryCompany.companyName+' - '+allorder.deliveryAddress}"></td>
            <td>
                    <form action="/orderDetails/{orderId}" th:action="@{/orderDetails/{orderId}(orderId=${allorder.id})}" th:method="get">
                        <input type="hidden" name="id" th:value="${allorder.id}">
                        <button class="button" type="submit">details</button>
                    </form>
                    <form action="/print-order/{orderId}" th:action="@{/print-order/{orderId}(orderId=${allorder.id})}" th:method="get">
                        <input type="hidden" name="id" th:value="${allorder.id}">
                        <button class="button" type="submit">print</button>
                    </form>
                <form action="/clients-orders/status" th:action="@{/clients-orders/status(id=${allorder.id})}" th:method="post">
                    <input type="hidden" name="id" th:value="${allorder.id}">
                    <input type="hidden" name="orderStatus" th:value="${allorder.orderStatus.POSTPONED}">
                    <button class="button" type="submit">postpone</button>
                </form>
                    <form action="/clients-orders/status" th:action="@{/clients-orders/status(id=${allorder.id})}" th:method="post">
                        <input type="hidden" name="id" th:value="${allorder.id}">
                        <input type="hidden" name="orderStatus" th:value="${allorder.orderStatus.DONE}">
                        <button class="button" type="submit">done</button>
                    </form>
                    <form action="/clients-orders/status" th:action="@{/clients-orders/status(id=${allorder.id})}" th:method="post">
                        <input type="hidden" name="id" th:value="${allorder.id}">
                        <input type="hidden" name="orderStatus" th:value="${allorder.orderStatus.CANCELED}">
                        <button class="button" type="submit">cancel</button>
                    </form>
            </td>
            <td>
                <form action="/clients-orders" th:action="@{/clients-orders(id=${allorder.id})}" th:method="post">
                    <input type="hidden" name="id" th:value="${allorder.id}">
                    <input type="text" name="adminComment" maxlength="255" th:value="${allorder.adminComment}">
                    <button class="button" type="submit">add comment</button>
                </form>
            </td>
<!--            <td>-->
<!--                <div>-->
<!--                    <form action="/orderDetails" th:action="@{/orderDetails(id=${order.id})}" th:method="get">-->
<!--                        <input type="hidden" name="id" th:value="${order.id}">-->
<!--                        <button class="button" type="submit">details</button>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </td>-->

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>