<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head th:replace="base-layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="base-layout :: header"></div>
<div sec:authorize="hasAuthority('ADMIN')">
    <table class="table" align="center">
        <thead>
        <th>Date</th>
        <th>Comment</th>
        <th>Status</th>
        <th>user Email</th>
        <th>user PhoneNumber</th>
        <th>user Name</th>
        <th>Address</th>
        <th>Actions</th>
        <th>Admin coment</th>
        </thead>
        <tbody th:each="allorder : ${allOrders}">
        <tr>

            <td th:text="*{#dates.format(allorder.dateCreation, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${allorder.comment}"></td>
            <td th:text="${allorder.orderStatus}"></td>
            <td th:text="${allorder.user.email}"></td>
            <td th:text="${allorder.user.phoneNumber}"></td>
            <td th:text="${allorder.user.firstName+' '+allorder.user.lastName}"></td>
            <td th:text="${allorder.orderDeliveryCompany.companyName+' - '+allorder.deliveryAddress}"></td>
            <td>
                    <form >
                        <input type="hidden" name="id" >
                        <button class="button" type="submit">details</button>
                    </form>
                    <form >
                        <input type="hidden" name="id">
                        <button class="button" type="submit">print</button>
                    </form>
                <form action="/clients-orders/status" th:action="@{/clients-orders/status(id=${allorder.id})}" th:method="post">
                    <input type="hidden" name="id" th:value="${allorder.id}">
                    <input type="hidden" name="orderStatus" th:value="${allorder.orderStatus.POSTPONED}">
                    <button class="button" type="submit">postpone</button>
                </form>
                    <form action="/clients-orders/status" th:action="@{/clients-orders/status(id=${allorder.id})}" th:method="post">
                        <input type="hidden" name="id" th:value="${allorder.id}">
                        <input type="hidden" name="orderStatus" th:value="${allorder.orderStatus.DONE}">
                        <button class="button" type="submit">done</button>
                    </form>
                    <form action="/clients-orders/status" th:action="@{/clients-orders/status(id=${allorder.id})}" th:method="post">
                        <input type="hidden" name="id" th:value="${allorder.id}">
                        <input type="hidden" name="orderStatus" th:value="${allorder.orderStatus.CANCELED}">
                        <button class="button" type="submit">cancel</button>
                    </form>
            </td>
            <td>
                <form action="/clients-orders" th:action="@{/clients-orders(id=${allorder.id})}" th:method="post">
                    <input type="hidden" name="id" th:value="${allorder.id}">
                    <input type="text" name="adminComment" maxlength="255" th:value="${allorder.adminComment}">
                    <button class="button" type="submit">add comment</button>
                </form>
            </td>
<!--            <td>-->
<!--                <div>-->
<!--                    <form action="/orderDetails" th:action="@{/orderDetails(id=${order.id})}" th:method="get">-->
<!--                        <input type="hidden" name="id" th:value="${order.id}">-->
<!--                        <button class="button" type="submit">details</button>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </td>-->

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>