<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base-layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="base-layout :: header"></div>

<div class="container">
    <h3 th:text="${order.orderStatus}">Status</h3>
    <table class="table" align="center">
        <thead>
        <th>Photo</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Sum</th>
        </thead>
        <tbody th:each="orderItem : ${orderItems}">
        <tr>
            <td >
                <div class="card-img" th:if="*{orderItem.product.photo==null}"><img width="50" src="/resources/images/Product_icon.png" alt="img"></div>
                <div th:unless="*{orderItem.product.photo==null}"><img width="50" th:src="'/resources/uploads/products/' + *{orderItem.product.photo}"></div></td>
            <td th:text="${orderItem.product.name}"></td>
            <td th:text="${orderItem.quantity}"></td>
            <td th:text="${orderItem.orderPrice}"></td>
            <td th:text="${orderItem.orderPrice*orderItem.quantity}"></td>
        </tr>
        </tbody>
        <tr></tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><h3>Total:</h3></td>
            <td ><h3 th:text="${sumOfOrderProducts}"></h3></td>
        </tr>
    </table>
    <div th:text="*{#dates.format(order.dateCreation, 'yyyy-MM-dd HH:mm')}">Date creation</div>
    <span th:text="${order.orderDeliveryCompany.companyName+' - '+order.deliveryAddress}"></span>
</div>
</body>
</html>