<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head th:replace="base-layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="base-layout :: header"></div>
<div class="container">
    <div th:object="${order}">
        <h4><span th:text="#{order-detail.orderId}"></span>: <span th:text="${order.id}"></span></h4>
        <div>
        <span th:text="#{orderpage.delivcompany}">
        </span> <span style="font-weight: bold; font-size: 18px" th:text="${order.orderDeliveryCompany.companyName}"> </span>
        </div>
        <div>
        <span th:text="#{orderpage.delivaddress}">
        </span> <span style="font-weight: bold; font-size: 18px" th:text="${order.deliveryAddress}"></span>
        </div>
        <span th:text="#{profile.uname}"></span><span>: </span><span th:text="${order.user.firstName+' '+order.user.lastName}"></span>
        <div><span th:text="#{order-detail.tel}"></span><span th:text="${order.user.phoneNumber}"></span></div>
        <h3 th:text="${#dates.format(currentDate, 'dd MMMM yyyy HH:mm:ss')}"><span ></span></h3>
        <table class="table" align="center">
            <thead>
            <th>№</th>
            <th th:text="#{order-detail.photo}"></th>
            <th th:text="#{order-detail.name}"></th>
            <th th:text="#{order-detail.quantity}"></th>
            <th th:text="#{order-detail.price}"></th>
            <th th:text="#{order-detail.sum}"></th>
            </thead>
            <tbody th:each="item, iStat : ${orderItems}">
            <tr >
<!--                th:each="i : ${#numbers.sequence(1, orderItems.size())}"><span th:value="${i}"></span>-->

                <td th:text="${iStat.index+1}"></td>
                <td >
                    <div class="card-img" th:if="${item.product.photo==null}"><img width="50" src="/resources/images/Product_icon.png" alt="img"></div>
                    <div th:unless="${item.product.photo==null}"><img width="50" th:src="'/resources/uploads/products/' + ${item.product.photo}"></div></td>
                <td th:text="${item.product.name}"></td>
                <td th:text="${item.quantity}"></td>
                <td th:text="${item.orderPrice}"></td>
                <td th:text="${item.quantity*item.orderPrice}"></td>
            </tr>
            </tbody>
            <tr></tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><h3 th:text="#{order-detail.total}"></h3></td>
                <td ><h3 th:text="${sumOfOrderProducts}"></h3></td>
            </tr>
        </table>
        <div>
            <span th:text="#{clients-order-table.adm-comment}"></span><span>: </span>
            <span style="font-style: italic; font-weight: bolder" th:text="${order.adminComment}"></span>
        </div>
    </div>
</div>
</body>
</html>