<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="base-layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="base-layout :: header"></div>
    <div class="container">
        <div class="row" >
            <div class="col-md-6 col-lg-4 col-xl-3" th:each="product : ${products}">
              <div class="card text-center card-product" >
                   <div class="card-product__img">
                     <div class="card-img" th:if="*{product.photo==null}"><img width="200" src="/resources/images/Product_icon.png" alt="img"></div>
                       <div th:unless="*{product.photo==null}"><img width="200" th:src="'/resources/uploads/' + *{product.photo}"></div>
                   </div>
                   <div class="card-body">
                    <p class="card-product__price"><span th:text="${product.price}"></span></p>
                    <h4 class="card-product__title"><a href="single-product.html" th:href="@{/product/single/{productId}(productId=${product.id})}"><span th:text="${product.name}"></span></a></h4>
                    <p><span th:text="${product.description}"></span> </p>
                   </div>
              </div>
            </div>
        </div>
    </div>

</body>
</html>