<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="base-layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<input type="hidden" name="productId" th:value="${product.id}">
<input type="hidden" name="categoryId" th:value="${category.id}">
<div th:replace="base-layout :: header"></div>
<div class="container">

    <div class="owl-carousel owl-theme s_Product_carousel">
         <div class="single-prd-item">
             <div class="img-fluid" th:if="*{product.photo==null}"><img width="200" src="/resources/images/Product_icon.png" alt="img"></div>
             <div th:unless="*{product.photo==null}"><img width="200" th:src="'/resources/uploads/products/' + *{product.photo}"></div>
             <form th:action="@{/product/addProductToCart}" method="post">
                 <input type="hidden" name="_csrf" th:value="${#authentication.authorities}">
                 <input type="hidden" name="id" th:value="${product.id}">
                 <button class="button" type="submit" th:text="#{product-page.add-to-cart}"></button>
             </form>
             <div sec:authorize="hasAuthority('ADMIN')">
                 <form action="/product/uploadProductPhoto" th:action="@{/product/uploadProductPhoto/__${product.id}__}" method="POST" enctype="multipart/form-data">
                     <input type="file" name="file" id="selectedFile" style="display: none;" onchange="form.submit()"/>
                     <input type="button" th:value="#{profile.image.upload}" value="Загрузити Фото"
                            onclick="document.getElementById('selectedFile').click();"/>
                 </form>
                 <form action="/product/deleteProduct/" th:action="@{/product/deleteProduct/__${product.id}__}" method="get">
                     <input type="submit" name="delete-prod" id="delete-product" th:value="#{action.delete}"/>
                 </form>
                 <form action="/product/updateProduct" th:action="@{/product/updateProduct/__${product.id}__}" method="post">
                     <div class="form-group">
                         <label for="name" th:text="#{order-detail.name}"></label>:
                         <input type="text" id="name" name="name"
                                class="form-control" autofocus="autofocus" th:placeholder="${product.name}">
                     </div>
                     <div class="form-group">
                         <label for="price" th:text="#{order-detail.price}"></label>:
                         <input type="text" id="price" name="price"
                                class="form-control" autofocus="autofocus" th:placeholder="${product.price}">
                     </div>
                     <div class="form-group">
                         <label for="description" th:text="#{product-page.description}"></label>:
                         <input type="text" id="description" name="description"
                                class="form-control" autofocus="autofocus" th:placeholder="${product.description}">
                     </div>
                     <div class="form-group" >
                         <label for="category" th:text="#{product-page.category}"></label>
                         <select id="category" name="category" >
                             <option disabled selected>Please select...</option>
<!--                             <option selected th:text="${product.category.categoryName}"></option>-->
                             <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.categoryName}"></option>
                         </select>
                     </div>
                     <div class="form-group">
                         <div class="row">
                             <div class="col-sm-6 col-sm-offset-3">
                                 <input type="submit"
                                        name="register-submit"
                                        id="register-submit"
                                        class="form-control btn btn-info"
                                        th:value="#{action.update}">
                             </div>
                         </div>
                     </div>

                 </form>
             </div>
         </div>
    </div>
    <div class="s_product_text">
        <h3 th:text="${product.name}"></h3>
        <h2><span  th:text="${product.price}"></span><span> UAH</span></h2>
        <div>
            <div><a  href="products-category.html" th:href="@{/product/categories/{categoryId}(categoryId=${category.id})}">
                    <span th:text="#{product-page.category}"></span>: <span th:text="${product.category.categoryName}"></span>
                 </a>
            </div>
            <div>
                <span th:text="#{product-page.availibility}"></span><span>: </span>
                    <span th:if="*{product.quantity>20}"><span style="color: green" th:text="#{product-page.in-stock}"></span></span>
                    <span th:if="*{product.quantity>0 && product.quantity<20}"><span style="color: chocolate" th:text="#{product-page.expire}"></span></span>
                    <span th:if="*{product.quantity==0}"><span style="color: red" th:text="#{product-page.not-available}"></span></span>
            </div>
        </div>
        <span style="font-weight: bolder" th:text="#{product-page.description}"></span><span>:</span>
        <p><span th:text="${product.description}"></span></p>
    </div>
</div>

</body>
</html>