<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base-layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="base-layout :: header"></div>
<div class="container">
    <h3 th:text="#{clients-order-table.my-orders}"></h3>
    <div>
        <table class="table" align="center">
            <thead>
            <th th:text="#{clients-order-table.date}"></th>
            <th th:text="#{clients-order-table.comment}"></th>
            <th th:text="#{clients-order-table.status}"></th>
            </thead>
            <tbody th:each="order : ${orders}">
            <tr>

                <td th:text="*{#dates.format(order.dateCreation, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:text="${order.comment}"></td>
                <td th:text="${order.orderStatus}"></td>
                <td>
                    <div>
                        <form action="/orderDetails/{orderId}" th:action="@{/orderDetails/{orderId}(orderId=${order.id})}" th:method="get">
                            <input type="hidden" name="id" th:value="${order.id}">
                            <button class="button" type="submit">details</button>
                        </form>
                    </div>
                </td>

            </tr>
            </tbody>
        </table>

    </div>
</div>
</body>
</html>